/* commone styles here */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #E02C6D;
    --secondery-color: #0A0826;
    --font-color: #3A3A3A;
}

.container {
    max-width: 1440px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* main styles here */

/* nav section style here */
.nav {
    margin-top: 64px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: var(--font-color);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.menu {
    display: flex;
}

.menu-item li {
    display: inline;
    padding: 10px 0px;
    margin: 0px 16px;
}

.nav-icon i {
    margin-left: 16px;
}

/* Bannar section style here */
.bannar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 30px;
    margin-top: 60px;

}

.bannar-content {
    width: 55%;
}

.bannar-title {
    color: var(--font-color);
    font-size: 3.4rem;
    font-weight: 700;
}

.bannar-description {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0px;
    width: 80%;
}

.bannar-btn {
    padding: 10px 24px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.bannar-btn i {
    margin-left: 10px;
}

.bannar-image img {
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bannar-image {
    width: 45%;
    padding-left: 30px;
}

.bannar-image img {
    width: 100%;
}

/* main section style here */

/* sponsers section style here */
.cop-logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    gap: 30px;
    justify-items: center;
    border-top: 1px solid #3a3a3a25;
    border-bottom: 1px solid #3a3a3a25;
    padding: 20px 0px;
    margin: 70px 0px;
}

.cop-logo img {
    width: 70%;
}

/* popular product section style */
.popular-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
}

.popular-product {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    justify-items: center;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.card img {
    width: 100%;
}

.product-name {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 6px;
}

.product-price {
    color: #000000de;
    font-size: 24px;
    font-weight: 400;
}

.star i {
    font-size: 16px;
    color: #FB8200;
}

.product-description {
    color: #787885;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.252px;
    width: 196px;
    padding-top: 5px;
}

/* gear section here */
.gear{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
}
.gear-imag img{
    width: 100%;
}
.gear-text{
    width: 70%;
}
.gear-title{
    color: #0A0826;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
}
.gear-description{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 55%;
    margin: 16px 0px;
}
.gear-btn {
    padding: 10px 24px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


/* responsiv media query */
/* for mobile devise */
@media screen and (max-width:576px) {

    header,
    main {
        padding: 0px 20px;
    }

    .nav {
        flex-direction: column;
        gap: 30px;
    }

    .menu-item {
        display: none;
    }

    .bannar-container,
    .gear
     {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .bannar-content,
    .bannar-description,
    .bannar-image,
    .gear-description
    {
        width: 100%;
    }

    .bannar-content,
    .gear-text
    {
        text-align: center;
    }

    .cop-logo {
        grid-template-columns: repeat(4, 1fr);
        align-self: center;
        justify-items: center;
        justify-content: center;
    }

    .cop-logo img {
        width: 100%;
    }

    .popular-product {
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        justify-items: center;
    }
}

/* for tabe and medium devise */
@media screen and (min-width:577px) and (max-width:768px) {

    header,
    main {
        padding: 0px 50px;
    }

    .nav {
        flex-direction: column;
        gap: 30px;

    }

    .bannar-container,
    .gear {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .bannar-content,
    .bannar-description,
    .bannar-image,
    .gear-description,
    .gear-text {
        width: 100%;
    }

    .bannar-content,
    .gear-text {
        text-align: center;
    }

    .popular-product {
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        justify-items: center;
    }
}

/* for desktop */
@media screen and (min-width:769px) and (max-width:1439px) {

    header,
    main {
        padding: 0px 100px;
    }

}